<html xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments/commonui :: header"></div>

<body>
<div th:insert="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h1>Welcome to Brand Data Page</h1>
			</div>
			<div class="card-body">
				<table class="table table-bordered table-hover">
					<tr class="bg-warning ">
						<td>IMAGE</td>
						<td>NAME</td>
						<td>CODE</td>
						<td>TAGLINE</td>
						<td>NOTE</td>
						
						<td colspan='2'>OPERATIONS</td>
					</tr>
					<tr th:each="ob:${list}">
					<td><img th:src="${ob.imageLink}" width="50" height="50"></td>
						<td>[[${ob.name}]]</td>
						<td>[[${ob.code}]]</td>
						<td>[[${ob.tagline}]]</td>
						<td>[[${ob.note}]]</td>
						<td><a class="btn btn-danger" th:href='@{/brand/delete(id=${ob.id})}'>DELETE<i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
						<td><a class="btn btn-primary" th:href='@{/brand/edit(id=${ob.id})}'>EDIT<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
					</tr>
				</table>
			</div>
			<div  class="card-footer bg-info text-white text-center">
				<span ><span> [[${message}]]</span></span>
			</div>
		</div>
	</div>
	<script th:src="@{myjs/uploadImgBb.js}">
	
	</script>
</body>

</html>
