<html xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments/commonui :: header"></div>

<body>
<div th:insert="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white">
				<h1>Welcome to Coupon Data Page</h1>
			</div>
			<div class="card-body">
				<table class="table table-bordered table-hover">
					<tr class="bg-warning ">
						<td>CODE</td>
						<td>NOTE</td>
						<td>PERCENTAGE</td>
						<td>AVAILABLE</td>
						<td>DATE</td>
						<td>TOTAL ALLOWED</td>
						<td>CLAIMED COUNT</td>
						<td colspan='2'>OPERATIONS</td>
					</tr>
					<tr th:each="ob:${list}">
						<td>[[${ob.code}]]</td>
						<td>[[${ob.note}]]</td>
						<td>[[${ob.percentage}]]</td>
						<td>[[${ob.available}]]</td>
						<td>[[${ob.date}]]</td>
						<td>[[${ob.totalAllowed}]]</td>
						<td>[[${ob.claimedCount}]]</td>
					<td><a class="btn btn-danger" th:href='@{/coupon/delete(id=${ob.id})}'>DELETE<i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
					<td><a class="btn btn-primary" th:href='@{/coupon/edit(id=${ob.id})}'>EDIT<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
					</tr>
				</table>
			</div>
			<div class="card-footer bg-info text-white">
				<b>[[${message}]]</b>
			</div>
		</div>
	</div>
</body>

</html>
