<html xmlns:th="https://www.thymeleaf.org/">
<div th:replace="fragments/commonui :: header"></div>

<body>
	<div th:insert="fragments/commonui :: menu"></div>
        <div class="container">
        <div class="card">
            <div class="card-header bg-primary text-white text-center">
                <h3>WELCOME TO PRODUCT REGISTER PAGE</h3>
            </div>
            <div class="card-body">
                <form id="myProductEditForm" th:action="@{/product/update}" method="POST" th:object="${product}">
               
                  
                   <!-- ID  -->
                    <div class="row">
                        <div class="col-3">
                            <label></label>
                        </div>
                        <div class="col-5">
                            <input type="hidden" th:field="*{id}" class="form-control" />
                        </div>
                        <div class="col-4">
                            <div id="idError"></div>
                        </div>
                    </div>
                    
                    <!-- Row#1 -->
                    <div class="row">
                        <div class="col-3">
                            <label for="name">Name</label>
                        </div>
                        <div class="col-5">
                            <input type="text" th:field="*{name}" class="form-control" />
                        </div>
                        <div class="col-4">
                            <div id="nameError"></div>
                        </div>
                    </div>
                    <!-- Row#2 -->
                    <div class="row">
                        <div class="col-3">
                            <label for="shortDesc">Short Description</label>
                        </div>
                        <div class="col-5">
                            <input type="text" th:field="*{shortDesc}" class="form-control" />
                        </div>
                        <div class="col-4">
                            <div id="shortDescError"></div>
                        </div>
                    </div>
                    <!-- Row#3 -->
                    <div class="row">
                        <div class="col-3">
                            <label for="fullDesc">Full Description</label>
                        </div>
                        <div class="col-5">
                            <textarea th:field="*{fullDesc}" class="form-control"></textarea>
                        </div>
                        <div class="col-4">
                            <div id="fullDescError"></div>
                        </div>
                    </div>
                    <!-- Row#4 -->
                    <div class="row">
                        <div class="col-3">
                            <label for ="brand">Brand</label>
                        </div>
                        <div class="col-5">
                            <select th:field="*{brand.id}" class="form-control">
                                <option value="">-SELECT-</option>
                                <option th:each="ob:${brands}" th:text="${ob.value}" th:value="${ob.key}"/>
                            </select>
                        </div>
                        <div class="col-4">
                            <div id="brandError"></div>
                        </div>
                    </div>
                    <!-- Row#5 -->
                    <div class="row">
                        <div class="col-3">
                            <label for="category">Category</label>
                        </div>
                        <div class="col-5">
                            <select th:field="*{category.id}" class="form-control">
                                <option value="">-SELECT-</option>
                                <option th:each="ob:${categories}" th:text="${ob.value}" th:value="${ob.key}"/>
                            </select>
                        </div>
                        <div class="col-4">
                            <div id="categoryError"></div>
                        </div>
                    </div>
                    <!-- Row#6 -->
                    <div class="row">
                        <div class="col-3">
                            <label for="status">Status</label>
                        </div>
                        <div class="col-5">
                            <input type="radio" th:field="*{status}" value="Active"/> Active
                            <input type="radio" th:field="*{status}" value="In-Active"/> In-Active
                        </div>
                        <div class="col-4">
                            <div id="statusError"></div>
                        </div>
                    </div>
                    <!-- Row#7 -->
                    <div class="row">
                        <div class="col-3">
                            <label for="inStock">In-Stock</label>
                        </div>
                        <div class="col-5">
                            <input type="radio" th:field="*{inStock}" value="Yes"/> Yes
                            <input type="radio" th:field="*{inStock}" value="No"/> No
                        </div>
                        <div class="col-4">
                            <div id="inStockError"></div>
                        </div>
                    </div>
                    <!-- Row#8 -->
                    <div class="row">
                        <div class="col-3">
                            <label for="cost">Cost</label>
                        </div>
                        <div class="col-5">
                            <input type="text" th:field="*{cost}" class="form-control" />
                        </div>
                        <div class="col-4">
                            <div id="costError"></div>
                        </div>
                    </div>
                    <!-- Row#9 -->
                    <div class="row">
                        <div class="col-3">
                            <label for="len">Dimension</label>
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-3">
                                   LENGTH: <input type="text" th:field="*{len}" class="form-control"/>
                                </div>
                                <div class="col-3">
                                   WIDTH: <input type="text" th:field="*{wid}" class="form-control"/>
                                 </div>
                                 <div class="col-3">
                                    HEIGHT: <input type="text" th:field="*{height}" class="form-control"/>
                                  </div>
                                  <div class="col-3">
                                    TYPE:
                                    <select th:field="*{dimType}" class="form-control">
                                        <option value="INCH">INCH</option>
                                        <option value="CM">CM</option>
                                        <option value="METERS">METERS</option>
                                    </select>
                                  </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="dimTypeError"></div>
                        </div>
                    </div>
                    <br/>
                    <!-- Row#10 -->
                    <div class="row">
                        <div class="col-3">
                            <label>Weight</label>
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" th:field="*{weight}" class="form-control" />
                                </div>
                                <div class="col-6">
                                    <select th:field="*{wigType}" class="form-control">
                                        <option value="KG">KG</option>
                                        <option value="GRAM">GRAM</option>
                                        <option value="TON">TON</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div id="weightError"></div>
                        </div>
                    </div>
                    <!-- Row#11 -->
                    <div class="row">
                        <div class="col-3">
                            <label for="note">Note</label>
                        </div>
                        <div class="col-5">
                            <textarea th:field="*{note}" class="form-control"></textarea>
                        </div>
                        <div class="col-4">
                            <div id="noteError"></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success"> Update Product</button>
                </form>
            </div>
            <div class="card-footer bg-info text-white">
                <span>[[${message}]]</span>
            </div>
        </div>
    </div>
</body>

</html>
